.Card {
    max-width: 755px;
    padding: 30px 40px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    border-radius: 5px;

    .profilImg {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px auto;

        img {
            height: 100%;
        }
    }

    h4 {
        color: $color-2;
        font-size: 20px;
        letter-spacing: .1rem;
    }

    small {
        line-height: 25px;
        text-transform: uppercase;
        color: $color-1;
        font-weight: 400;
        font-size: 16px;
    }

    p {
        margin-top: 10px;
        line-height: 30px;
        color: #617d98;
        font-size: 20px;
    }

    .navigation {
        margin-top: 25px;

        svg {
            margin: 0 10px;
            transition: all .2s ease-in-out;
            cursor: pointer;
            color: #48a6e9aa;
            font-size: 28px;

            &:hover {
                color: $color-1;
                transform: scale(1.1);
            }
        }
    }

    button {
        margin-top: 20px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-weight: 700;
        font-size: 16px;
        background-color: #ebf7ff;
        color: $color-1;
    }
}